<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            type="image/png"
            href="{% static 'icons/favicon.ico' %}"
        />
        <title>Ghost Post</title>
    </head>
    <body>
        <a href={% url 'home_landing' %}>Home</a>
        <a href={% url 'new_post' %}>New Post</a>
        <h1>Ghost Post</h1>
        <h3>Boast about or Roast anything you'd like</h3>

        <!-- Filter posts by boasts or roasts -->
        {% include 'postFilter.html' %}

        <!-- Sort by creation date or total votes -->
        {% include 'postSorter.html' %}

        <h4>Posts</h4>
        {% for post in posts %}
        <div class="postContainer">
            <i>{{ post.created }}</i> -----> 
                <strong>Upvotes </strong>
            {{ post.up_votes }} | 
                <strong>Downvotes </strong>
            {{ post.down_votes }}
            <p>{{ post.content }}</p>
            <a href='../../{{ post.id }}'>Details</a>
        </div>
        <br><br>
        {% endfor %}

    </body>
</html>
